body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 500px;
  margin: 20px auto;
}

.form {
  background-color: #eee;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  flex: 1;
}

.input:focus {
  outline: none;
}

.add,
.add1 {
  border: none;
  background-color: #f44336;
  color: white;
  padding: 10px;
  border-radius: 6px;
  margin-left: 10px;
  cursor: pointer;
}

.tasks {
  background-color: #eee;
  margin-top: 20px;
  border-radius: 6px;
  padding: 20px;
}

.tasks .task {
  background-color: white;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
  cursor: pointer;
  border: 1px solid #ccc;
  word-wrap: break-word;
}

.tasks .task:not(:last-child) {
  margin-bottom: 15px;
}

.tasks .task:hover {
  background-color: #f7f7f7;
}

.tasks .task.done {
  opacity: 0.5;
}

.tasks .task span {
  font-weight: bold;
  font-size: 10px;
  background-color: red;
  color: white;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;
}

.tasks .task .mham {
  background-color: green;
}

.buttons span {
  margin-left: 10px;
}

.textmain {
  max-width: 85%;
  word-wrap: break-word;
}

@media (max-width: 1200px) {
  .tasks .task {
    flex-direction: column-reverse;
  }
  .buttons {
    margin-bottom: 20px;
    text-align: right;
  }
}

@media (max-width: 767px) {
  .add {
    font-size: 10px;
  }
}
.img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.mygithup {
  padding: 10px 10px 10px 10px;
  display: flex;
  justify-content: start;
  gap: 60px;
  align-items: center;
  background-color: #eee;
  border-radius: 6px;
  border: #ddd solid 2px;
  margin-bottom: 20px;
}
.mygithup i {
    margin-left: 10px;
}